* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/* Underline under title */
nav a {
  text-decoration: none;
}

/* Navigation Bar */
nav {
    background-color: #FAF9F6;
    height:100px;
    width: 100%;
    align-items: center;
    font-family: 'Cinzel', serif;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    opacity: 3;
  }
  

nav ul {
    color: black;
    list-style-type: none;
    display: flex;
    margin-left: 10px;
}

nav ul li {
    margin-right: 50px; /*change this to add more / less space between*/
    font-size: 22px;

}

/* Nav bar - "Britney Wang" */
.titleName {
  font-family: 'Alex Brush', cursive;
  font-style: italic;
  font-size: 35px;
  
}
nav a1 {
  font-family: 'Cinzel', cursive;
  font-style: italic;
  font-size: 25px;

}

/* unvisited link */
a:link {
  color: rgb(31, 49, 86);
}

/* visited link */
a:visited {
  color: rgb(31, 49, 86);
}

/* mouse over link */
a:hover {
  color: rgb(65, 101, 172);
}


/*---------------------------------------------------------------- HOME PAGE /*----------------------------------------------------------------*/

/* Cover Text*/
.container {
    position: relative;
    text-align: center;
    color: f2f2f2;
  }
  
.centered {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Cinzel', sans-serif;
    text-align: center;
    color: #f2f2f2;
    letter-spacing: 15px;
    
}

.centered h1 {
    font-size: 20px;
    color: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
}
  .centered h2 {
    font-size: 100px;
    font-style: bold;
    text-transform: uppercase;
    font-family: 'Cinzel', serif;
    line-height: 0.9;
  }

/* Cover Photo */
.CoverPhoto {
  width: 100%;
  height: 100%;
}
  
/* Home & About Me Page */
.home {
    position: relative;
    z-index: 1;
}

/* Container for about me + picture */
.home div {
  width: 100%;
  height: 100vh;
  /* #a8dcef */
  background-color: rgb(158, 212, 240);;
  line-height: 1.5;
}

/* Profile Picture */
.ProfilePhoto {
    width: 100%;
    height: 100%;
    right:0;
}

/* About me paragraph */
.aboutme_holder p1{
  font-size: 15px;
  font-family: 'Sen', sans-serif;
}

/* About me Title*/
.aboutme_holder h2 {
  font-size: 75px;
  font-family: 'Yeseva One';
  color: rgb(3, 13, 32);
}

/* paragraph section 1 */
.aboutme_1 {
  padding: 80px;
  /* padding: top right bottom left */
  /* padding: top/bottom left/right */
}

/* picture */
.aboutme_2 {

}
/*---------------------------------------------------------------- ABOUT PAGE ----------------------------------------------------------------*/

.aboutme_holder {
  display: grid;
  /* how many boxes in a row */
  grid-template-columns: 1fr 1fr;
  background-color: #999;
}

/* Cover Photo - text*/
.aboutmeText h1 {
  font-size: 50px;
  font-family: 'open sans', san;
}

/* Cover Photo */
.AboutMePhoto {
  object-fit: cover;
  width: 100%; 
  height: 550px;
  /* opacity: .9;
  filter: saturate(120%); */
}

/* Cover Text */
.aboutmeText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Cinzel';
  text-align: center;
  color: #f2f2f2;
  font-size: 25px;
}

/* Section Information*/
.AboutMe_information {
  /* padding: top right bottom left */
  /* padding: top/bottom left/right */
  height: 500px;
  background-color: #99cdf5;
  padding: 125px 150px 150px 125px;
}

/* About me -- title */
.AboutMe_information h2 {
  font-size: 35px;
  font-family: none;
}

/* About Me -- paragraph */
.AboutMe_information p1 {
  font-size: 15px;
  font-family: 'Sen', sans-serif;
  line-height: 1.5;
  
}


/*---------------------------------------------------------------- CONTACT PAGE ----------------------------------------------------------------*/
.first_lastName {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
}

.formCont1 {
  width: 500px;
  
}
.contact2 {
    background: url(Images/Fish2.png) no-repeat;
    background-size: cover;
    z-index: -5;
    background-attachment: fixed;
}

.contact h3 {
    text-align: center;
    font-size: 50px;
    font-family: 'Cinzel', serif;
    font-weight: bold;
    color: #f2f2f2;
}

/* Contact Page */
#contact {
    background-color: #C5EAF8;
}

body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* (form) section titles (ex: first name, last name, etc...) */
.contact label {
  font-family: 'Handlee';
  font-size: 20px;
  font-weight: bold;

}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: #f2f2f2;
  font-family: 'Handlee', cursive;

}

input[type=submit] {
  background-color: #60bef9;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* hover submit */
input[type=submit]:hover {
  background-color: #41a1dc;
}

/* Form Container Grid */
.FormContainter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #f2f2f2;
    padding-bottom: 40px;
    margin-left: 400px;
    margin-right: 400px;
    box-shadow: 0 4px 8px 0 #236087, 0 6px 20px 0 #236087;

}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 120px;
}

/* Footer */
footer {
  padding-top: 25px;
  height: 125px;
  width: 100%;
  background-color: rgb(110, 178, 214);
  color: black;
  text-align: center;
}

/*---------------------------------------------------------------- PROJECTS PAGE ----------------------------------------------------------------*/

/* THINGS NEED DONE 

1. Center project cover
2. After clicking the popup button, the page needs to stay fixed
3. check projects h4 (fonts, etc.. not transferring)

*/

.projects h3 {
  text-align: center;
  font-size: 50px;
  font-family: 'Cinzel', serif;
  font-weight: bold;
  color: #f2f2f2;
  padding-top: 100px;
}
.projects2 {
    background: url(Images/Fish2.png) no-repeat;
    background-size: cover;
    z-index: -5;
    background-attachment: fixed;
}
          
/* XXXXXX ------ deleted */
.centered h3 {
    font-size: 90px;
    color: #f2f2f2;
}

/* box/div title */
.projects h5 {
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
}

/* box description (display) */
.projects div p1 {
    font-size: 15px;
    font-family: 'PT Serif', serif;
    line-height: .1;
}

/* popup title */
.popupFunction h3 {
    font-size: 40px;
    font-family: 'Handlee', cursive;
    font-style: italic;
    
}

/* popup subtitiles */
.projects h2 {
    font-size: 20px;
    font-family: 'Handlee', cursive;
    font-style: bold;
}

/* popup sub subtitles */
.projects h4 {
    font-size: 10px;
    font-family: 'Handlee', cursive;
    font-style: italic;
}

/* popup description */
.popup-content {
    font-size: 15px;
    font-family: 'PT Serif', serif;
}

.projects a {
    font-size: 15px;
    font-family: 'PT Serif', serif;
}

/* Cover Photo */
.projects {
    justify-content: center;
    text-align: center;
}
.ProjectCover {
    object-fit: cover;
    width: 75%;
    height: 400px;
    float: center;
    align-items: center;
    margin: 0 auto;
}



  /* filter: drop-shadow(16px 16px 10px #c5c5c5);*/

  
  
  .project_box {
    background-color: #FFFCFC;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    margin: 5%;
    box-shadow: 0 4px 8px 0 #236087, 0 6px 20px 0 #236087;
    width: 500px;
    height: 350px;
  }


  .project_holder {
    display: grid;
    /* how many boxes in a row */
    grid-template-columns: 1fr 1fr;
    padding-left: 155px;
    padding-right: 190px;
    grid-gap: 60px;
  }

  .popupIntro {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .project-holder {
    display: grid;
    /* how many boxes in a row */
    grid-template-columns: 1fr 1fr;
    background-color: #BBF1F1;
    padding: 10px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }



/* Pop up!! */

.popup-descriptions {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
    overflow-y: scroll;
  }
  .popup-descriptions:target {
    visibility: visible;
    opacity: 1;
  }
  /* screen */
  .popupFunction {
    margin: 70px auto;
    padding: 100px;
    background: #FFFCFC;
    border-radius: 5px;
    position: relative;
    width: 75%;
    scroll-behavior: smooth; 
    transition: all 2s ease-in-out;
  }

  .popupFunction .close-popup {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }

  .popupFunction .popup-content {
    max-height: 30%;
    overflow: auto;
  }
  
  /* Pop up!! */

  /* Each project cover photo */
  .ProjectPhoto {
    width: 50%;
    height: 50%;
  }

  /* each project cover photo (phone) */
  .ProjectPhotoPhone {
    width: 25%;
    height: 60%;
  }

  /* 1. Farmer's Market - image holder */
  .project1_holder {
    display: grid;
    /* how many boxes in a row */
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #FFFCFC;
    padding: 10px;
    text-align: center;
  }

  /* 2. PLANK - image holder */
  .project2_holder {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #FFFCFC;
    padding: 10px;
    text-align: center;
  }

  /* 3. Stars - image holder */
  .project3_holder {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #FFFCFC;
    padding: 10px;
    text-align: center;
  }

  .StarsImages {
    width: 80%;
    height: 85%;
  }

  .PlankImages {
    width: 80%;
    height: 80%;
  }

  /* Farmer's Photo Size (UC) */
  .FarmerImages {
    width: 80%;
    height: 80%;
  }

  /* design process image + divs */
  .designProcess {
    display: flex;
    gap: 10px;
    padding: 10px;
    height: 180px;
    justify-content: center;
  
  }
  
  .designProcess div {
    background-color: rgba(255, 255, 255, 0.8);
    border: 3px solid #BBF1F1;
    text-align: center;
    font-size: 15px;
    width: 110px;
    border-radius: 25px;
  }

  .projects h6 {
    color:#333;
  }

/* right arrow*/
  .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

/*---------------------------------------------------------------- RESUME PAGE ----------------------------------------------------------------*/

/* Resume Page */
.resume2 {
    background: url(Images/Fish2.png) no-repeat;
    background-size: cover;
    z-index: -5;
    background-attachment: fixed;
}

/* Section titles */
.contact2 h1 {
  padding-left: 405px;
  padding-bottom: 25px;
  font-size:25px;
  font-family: 'Handlee';
  color: #f2f2f2;
}

/* Form Container Grid */
.ResumeContainer1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #f2f2f2;
  padding-bottom: 40px;
  margin-left: 400px;
  margin-right: 400px;
  box-shadow: 0 4px 8px 0 #236087, 0 6px 20px 0 #236087;
  height:350px;

}
.form2 {
  width: 500px;
}



.resumeHeaders {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 50px;
  margin-left: 850px;

}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}






  

  
 
  

